<!-- Detalle o información almacenada de una inscripción -->
{% extends "base.html" %}

{% block content %}
<h1>Detalle de su inscripción </h1>
<br/>
<p>Usted se ha inscrito satisfactoriamente en el evento <strong>{{ object.evento }}</strong>.</p>
<ul>
    <li>Código de reserva: {{ object.id }}</li>
    <li>Nombre y apellidos: {{ object.nombre_apellidos }}</li>
    <li>Identificación: {{ object.nif }}</li>
    <li>Fecha de inscripción: {{ object.creado_a }}</li>
</ul>

<div align="center">
    <p> Guarde esta información </p>
    <a class="btn btn-success" href="{% url 'events:index' %}"><i class="icon-search"></i> Volver</a>
</div>
{% endblock%}
